@import "tailwindcss";

body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
